<router-outlet></router-outlet>

<div class="row col-md-12">
    <table class="table table-sm table-striped table-bordered">
        <tr>
            <th class="text-center">Action</th>
            <th>Device Name</th>
            <th>Firebase Token</th>
            <th class="text-center">State</th>

        </tr>
        <tr *ngFor="let device of devices">
            <td class="text-center">
                <button type="button" class="btn btn-success btn-sm" (click)="unBlockDevice(device)">
                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm" (click)="blockDevice(device)">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </td>
            <td>{{device.name_device}} </td>
            <td class="text-truncate">{{(device.id_firebase.length>20)? (device.id_firebase |
                slice:0:20)+'..':(device.id_firebase)}}</td>
            <td *ngIf="device.state_device == 'unblock'" class="table-success text-center">{{device.state_device}}</td>
            <td *ngIf="device.state_device == 'block'" class="table-danger text-center">{{device.state_device}}</td>


        </tr>

    </table>
</div>


    <!-- Button trigger modal -->


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modificar dispositivo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Device Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Firebase token">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-sm">Save changes</button>
                </div>
            </div>
        </div>
    </div>